*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'popins',  sans-serif;
}
body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/static/images/1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0%;
    color:#fff;
}
.container h1{
    text-align: center;
    padding-top: 2%;
    font-weight: 600;
    position: relative;
}
.container h1::after{
    content: '';
    background: #fa8f2b;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.result{
    text-align: center;
    padding: 25px;
    border-radius: 10px;
    font-size: 28px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s , background 0.5s;
    color:#fff;
    margin-left: 50px;
    margin-right: 50px;
  }
  .matter{
    padding: 25px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s , background 0.5s;
    color:#fff;
    margin-left: 10px;
    margin-right: 10px;
  }