.container{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(/static/images/1.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 0%;
    color:#fff;
}
