<!doctype html>
<html lang="en">

<head>
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>

<body>
    <main>
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">AuSis</h2>
            </div>
            
           {% include "navbar.html" %}
            
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div>
            
        </div> 
        <div class="container">
            <h1 align="center">🤓AUDIO DASHBOARD🤓</h1>
            <div class="row my-10">
                <div class="col-md-5 mx-auto">
                    <div class="container-fluid">
                        <div class="row">
                            {% for item in audios %}
                            <div class="col-md-5 mb-3">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 >{{item.name}}</h6>
                                    </div>
                                <div class="card-body">
                                    <audio controls >
                                        <source src="{{item.audio_file}}" type="audio/mpeg">
                                    </audio>
                                </div>
                                <div class="card-footer">
                                    <button class="cn"><a href="/audio/operations/{{item.id}}">Operations</a></button>
                    
                                </div>
                            </div>
                            {% endfor %}  
                        </div>
                    </div>  
                </div>
            </div>
        </div>
    </main>
</body>

</html>