<!doctype html>
<html lang="en">

<head>
  <title>Operations page</title>
  <link rel="stylesheet" href="/static/css/oprstyle.css">
  <script src="https://kit.fontawesome.com/8162d4da72.js" crossorigin="anonymous"></script>

</head>

<body>
 <div class="container">
    <h1>OUR SERVICES</h1>
    <div class="row">
        <div class="service">
            <i class="fa-solid fa-book-open-reader"></i>
            <a href="transcript.html"><h2>Transcription</h2></a>
            <P>
                We help your audio transcend language with transcription.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-magnifying-glass-chart"></i>
            <a href="visualize.html"><h2>Visualization</h2></a>
            <P>
                Imagine the emotion attached to the outcome.
            </P>
        </div>
        <div class="service">
            <i class="fa-sharp fa-solid fa-code-compare"></i>
            <a href="similarity.html"><h2>Similar Search</h2></a>
            <P>
                Giving you the best searching experience.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            <a href="enhance.html"><h2>Enhancement</h2></a>
            <P>
                Turn ordinary to extraordinary with Enhance.
            </P>
        </div>
        <div class="service">
            <i class="fa-regular fa-face-grin-beam"></i>
            <a href="sentiment.html"><h2>Analyse Emotions</h2></a>
            <P>
                Your emotions are the slaves to your thoughts, and you are the slave to your emotions.
            </P>
        </div>
        <div class="service">
            <i class="fa-regular fa-music"></i>
            <a href="segmentation.html"><h2>Verse and Choruses</h2></a>
            <P>
                Your happiness is our mission!.
            </P>
        </div>
        <div class="service">
            <i class="fa-regular fa-rss"></i>
            <a href="featureextraction.html"><h2>Feature Extraction</h2></a>
            <P>
                From ordinary to extraordinary.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-microphone-lines-slash"></i>
            <a href="noisereduction.html"><h2>Noise Reduction</h2></a>
            <P>
                Keep the noise down or the noise will keep you down.
            </P>
        </div>
    </div>
 </div>
</body>

</html>