<!doctype html>
<html lang="en">

<head>
  <title>Operations page</title>
  <link rel="stylesheet" href="/static/css/oprstyle.css">
  <script src="https://kit.fontawesome.com/8162d4da72.js" crossorigin="anonymous"></script>

</head>

<body>
 <div class="container">
    <h1>OUR SERVICES</h1>
    <div class="row">
        <div class="service">
            <i class="fa-solid fa-book-open-reader"></i>
            <a href="/action/transcript/{{id}}"><h2 style="color:#fff">TRANSCRIPTION</h2></a>
            <P>
                We help your audio transcend language with transcription.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-magnifying-glass-chart"></i>
            <a href="/action/visualize/{{id}}"><h2 style="color:#fff">VISUALIZATION </h2></a>
            <P>
                Imagine the emotion attached to the outcome.
            </P>
        </div>
        <div class="service">
            <i class="fa-sharp fa-solid fa-code-compare"></i>
            <a href="/action/similarity/{{id}}"><h2 style="color:#fff">SIMILAR SEARCH</h2></a>
            <P>
                Giving you the best searching experience.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-wand-magic-sparkles"></i>
            <a href="/action/enhance/{{id}}"><h2 style="color:#fff">AUDIO ENHANCEMENT</h2></a>
            <P>
                Turn ordinary to extraordinary with Enhance.
            </P>
        </div>
        <div class="service">
            <i class="fa-regular fa-face-grin-beam"></i>
            <a href="/action/sentiment/{{id}}"><h2 style="color:#fff">ANALYSE EMOTIONS</h2></a>
            <P>
                Your emotions are the slaves to your thoughts, and you are the slave to your emotions.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-microphone-lines-slash"></i>
            <a href="/action/noisereduction/{{id}}"><h2 style="color:#fff">NOISE REDUCTION</h2></a>
            <P>
                Keep the noise down or the noise will keep you down.
            </P>
        </div>
        <div class="service">
            <i class="fa-solid fa-file"></i>
            <a href="/action/classify/{{id}}"><h2 style="color:#fff">CLASSIFICATION</h2></a>
            <P>
                We classify audio for the purpose.
            </P>
        </div>
        <div class="service">
            <i class="fa-brands fa-soundcloud"></i>
            <a href="/dashboard"><h2 style="color:#fff">PLAYBACK</h2></a>
            <P>
                Joy has Just we brought up.
            </P>
        </div>
    </div>
 </div>
</body>

</html>